<div class="form-wrapper">
  <%= simple_form_for @stylemodel, html: { class: 'form-horizontal', multipart: true } do |f| %>
  <div class="image center-block">
    <div class="sm-img-container">
      <%= f.input :image %>
      <%= f.input :image %>
      <%= f.input :image %>
      <%= f.input :image %>
    </div>
    <div class="form-group text-center">
      <%= f.button :submit, class: 'btn-success' %>
    </div>
  <% end %>
</div>